"*":
  "autocomplete-plus":
    confirmCompletion: "enter"
    fileBlacklist: [
      "*.md"
      "*.txt"
    ]
  "color-picker":
    uppercaseColorValues: true
  core:
    disabledPackages: [
      "whitespace"
    ]
    telemetryConsent: "limited"
  editor:
    softTabs: false
    tabLength: 4
  "exception-reporting":
    userId: "2c613f71-39b8-42c5-bef0-f61d264be689"
  "git-diff":
    showIconsInEditorGutter: true
  "line-ending-selector":
    defaultLineEnding: "LF"
  "linter-clang":
    clangDefaultCFlags: "-Weverything"
    clangDefaultCppFlags: "-std=c++1z -Weverything -Wno-c++98-compat -Wno-padded -Wno-c++98-compat-pedantic"
  "linter-pylama":
    useIsort: true
  "linter-stylelint":
    disableWhenNoConfig: false
    useStandard: true
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  "project-plus": {}
  tabs:
    enableVcsColoring: true
  "tree-view":
    alwaysOpenExisting: true
  whitespace: {}
  zentabs:
    maximumOpenedTabs: 8
    neverCloseDirty: true
    neverCloseNew: true
    neverCloseUnsaved: true
".gfm.source":
  editor:
    tabLength: 8
".plain.text":
  editor:
    tabLength: 8
